.DiaryEditor {
    border: 1px solid slateblue;
    text-align: center;
    padding: 30px;
}

.DiaryEditor textarea,
input {
    margin-bottom: 20px;
    width: 500px;
    padding: 10px;
}

.DiaryEditor textarea {
    height: 150px;
}

.DiaryEditor select {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}

.DiaryEditor button {
    width: 500px;
    padding: 10px;
    background-color: rgba(215, 210, 248, 0.471);
    border: 1px solid white;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

/* DiaryList + DiaryItem */

.DiaryList {
    padding: 30px;
    margin-top: 20px;
}

.DiaryList h2 {
    text-align: center;
}

.DiaryItem {
    background-color: rgba(215, 210, 248, 0.471);
    padding: 10px;
    width: full;
    margin-bottom: 30px;
}

.DiaryItem .info {
    border-bottom: 1px solid rgb(0, 8, 101);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.DiaryItem .date {
    color: rgb(110, 106, 106);
}

.DiaryItem .content {
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}